* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121016;
  color: #ffffff99;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
img {
  max-width: 100%;
  vertical-align: center;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-size: 4.5rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.0225rem;
  text-align:center;
}
h2 {
  font-size: 2.7rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
h6{
  color:#FFF;
  font-size:14px;
  font-weight:500;
  line-height:1.6;
}
.navbar-wrapper {
  z-index: 1080;
  width: 100%;
  position: sticky;
  color: #fff;
  left: 0;
  top: 0;
  right: 0;
}
.navbar-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #121016e6;
  backdrop-filter: blur(24px);
  position: relative;
}
.page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  width: 100%;
  max-width: 77.5rem;
  margin-left: auto;
  margin-right: auto;
}
.container.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.navbar-logo {
  margin-right: 6rem;
  display: flex;
  align-items: center;
}
.drop-down-content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  position: relative;
}
.navbar-large-btn{
  display: block;
  width:100%;
}
.navbar-large-btn:hover .arrow-icon{
  transform:rotate(180deg);
  transition: all .3s ease;
}
.navbar-large-btn:hover > .dropdown-box{
  display:block;
  width:100%;
}
.arrow-icon {
  width: 21px;
  height: 21px;
  transform:rotate(0deg);
  transition: all .3s ease;
}

.nav-link {
  color: #fff;
  padding: 8px 16px;
}
.is-last {
  margin-right: 16px;
}
.dropdown-box {
  position:absolute;
  background-color: #000;
  border: 1px solid #2b2b2be2;
  border-radius: 8px;
  top: 100%;
  left: 0%;
  padding: 10px;
  display:none;
}
.dropdown-box.dropdown-products {
  width: 330px;
}
.dropdown-box.dropdown-resources {
  width: 200px;
}
.drop-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.box {
  display: flex;
  gap: 10px;
  background-color: #1c1a1cd8;
  padding: 8px 14px;
  border-radius: 8px;
}
.box.box-res {
  background-color: #000;
  position: relative;
  overflow: hidden;
  color: #868181;
}
.box.box-res:hover {
  background-color: #1c1a1cd8;
  color: #fff;
}
/* .box.box-res::after{
    content:"";
    position:absolute;
    top:0%;
    left:0;
    background-color:#2220226c;
    width:100%;
    height:100%;
}
.box.box-res:hover::after{
    left:100%;
} */
.non-active {
  background-color: #000;
  transition: all 0.3s ease;
}
.non-active:hover {
  background-color: #1c1a1cd8;
}
.left {
  width: 20px;
}
.left-res {
  height: 21px;
}

.right {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.heading {
  font-size: 16px;
  line-height: 1.5;
}
.text-all {
  color: #ffffff99;
}
.margin-right-24 {
  margin-right: 24px;
}
.margin-right-18 {
  margin-right: 18px;
}
.margin-bottom-12 {
  margin-bottom: 12px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
.margin-bottom-18 {
  margin-bottom: 18px;
}
.margin-bottom-24 {
  margin-bottom: 24px;
}
.margin-bottom-32 {
  margin-bottom: 32px;
}
.margin-bottom-64{
  margin-bottom:64px;
}
.padding-top-128 {
  padding-top: 8rem;
}
.content-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bottom-content.content-alignment {
  gap: 26px;
}
.github-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
.badge {
  font-size: 16px;
  background: #373839;
  padding: 2px 12px;
  border-radius: 20px;
}
.github-button-badge.badge {
  margin-left: 6px;
  padding: 2px 6px;
  font-size: 14px;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin {
  padding: 8px 12px;
  color: #fff;
}
.button {
  padding: 8px 16px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
}
.request-btn {
  background-color: #5c5c5c;
  background-image: linear-gradient(to bottom, #4040407c, #3f3c3c85);
}
.request-btn:hover {
  background-color: #5c5c5c;
  background-image: linear-gradient(to bottom, #373737b6, #6060605c);
}

  /* Overlay */
.navbar-overlay{
  position:absolute;
  top:100%;
  left:0%;
  background-color: #000;
  width:100%;
}
.testimonials-mobile,.navbar-overlay.hidden{
  display:none;
}
.navbar-main-content.start{
  flex-direction:column;
  align-items:flex-start;
}
.dropdown-box.p-relative{
  position:relative;
  /* display:block; */
  padding-top:0px;
  padding-bottom:0px;
  border:none;
  width:100%;
}
.section {
  position: relative;
}
.section-hero {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section.section-hero {
  min-height: 80rem;
  background-color: #ffffff;
  background-image: url("https://assets-global.website-files.com/65167b57095188b34c3dac91/652010a6e59eaee2ee2c8c01_Gradient.svg");
  background-size: auto 85rem;
  overflow: hidden;
  margin-top: -0.0625rem;
}
.section-spacing {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.section-spacing.section-hero {
  padding-top: 10rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 49rem;
  margin-bottom: 8rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.top-content {
  border: 1px solid #2b2b2be2;
  border-radius: 20px;
  padding: 5px;
}
.text-label {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 6px;
}
.text-arrow-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.text-label:hover .text-arrow-icon {
  opacity: 0.5;
  transition: all 0.2s ease;
}
.mobile-screen{
  display:none;
}
.content-text-para {
  text-align: center;
  font-size:1.2rem;
  font-weight: 500;
}
.request-btn.btn-color {
  background-color: #6638c7;
  background-image: linear-gradient(to bottom, #a67cff, #a67cff00);
  padding: 10px 20px;
}
.request-btn.btn-color:hover {
  background-color: #8158d9;
}
.hero-image {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.shadow {
  box-shadow: 0px 0px 40px 10px #393a3b32;
}
.hero-image.shadow {
  margin-bottom: 6rem;
  border-radius: 1rem;
}
.hero-brands {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
.text-size-large {
  color: #938f8f;
  font-size: 18px;
}
.text-size-large.is-center {
  text-align: center;
}
.marquee-brand {
  margin-left: 2rem;
  margin-right: 2rem;
}

.marquee-track-inner {
  display: flex;
  flex: none;
}
.marquee-track-brand {
  display: flex;
  flex-flow: row;
  align-items: center;
  animation: 28s linear 0s infinite normal none running infinite-slide;
}
@keyframes infinite-slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-701px, 0, 0);
  }
}
.infinite-slide-wrap {
  overflow: visible !important;
}
.marquee {
  position: relative;
}
.overflow-hidden.logos {
  max-width: 77rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.marquee-brand-gradient {
  z-index: 10;
  width: 8rem;
  position: absolute;
  top: -1rem;
  bottom: -1rem;
}
.marquee-brand-gradient.is-left {
  background-image: linear-gradient(270deg, transparent, #fff);
  left: 0;
}
.marquee-brand-gradient.is-right {
  background-image: linear-gradient(90deg, transparent, #fff);
  right: 0;
}
.tailwarden-intro {
  background-color: #fff;
  color: #12101699;
  padding-bottom: 16rem;
}
.max-width-672 {
  max-width: 42rem;
}
.max-width-608 {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}
.max-width-560 {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}
.intro-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 8rem;
}
.color-heading-top {
  background-image: linear-gradient(to right, #6638c7, #6638c7);
  display: inline-block;
  background-clip: text;
  font-size: 20px;
  font-weight: 500;
}
.heading-top-main {
  color: #000;
}
.is-black {
  color: #000;
}
.grid-intro {
  display: grid;
  grid-column-gap: 8rem;
  grid-row-gap: 4rem;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(min-content, 470px) 1fr;
  grid-template-rows: minmax(auto, 1fr);
}
.apps-img {
  max-height: 37rem;
  max-width: 40rem;
  background-image: url("https://assets-global.website-files.com/65167b57095188b34c3dac91/651bb6bba3255cf8ca262b16_Illustration%20\(2\).svg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.grid-text .text-label {
  justify-content: flex-start;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
.color-heading-top.is-alt {
  background-image: linear-gradient(270deg, #9570f5, #b0a0ff);
}
.grid-cols-1 {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  grid-template-rows: auto;
  gap: 1.5rem;
}
.grid-cols-2 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
}
.grid-card {
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #27252c70;
  border-radius: 2rem;
  overflow: hidden;
}
.grid-card-img {
  min-height: 22.5rem;
  margin-bottom: -6rem;
  position: relative;
}
.grid-card-img._01 {
  margin-top: 1.5rem;
  margin-bottom: -3rem;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-card-body {
  padding-right: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
}
.grid-card.is-horizontal {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.grid-card-body._03 {
  padding: 4rem;
}
.grid-card-img._03 {
  display: flex;
  align-items: center;
  margin-right: 6.5rem;
  max-height: 35rem;
  max-width: 30rem;
  margin-bottom: 0;
}
.grid-card-img._04 {
  margin-top: -1.25rem;
}
.grid-card-img._05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img._05 {
  max-height: 11rem;
}

.section-spacing.spacing-top-none {
  padding-top: 0;
}
.grid-cols-4 {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  position:relative;
}
.grid-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-icon {
  height: 2rem;
  margin-bottom: 24px;
}
.marquee-track-backword {
  display: flex;
  flex-flow: row;
  align-items: center;
  animation: 74s linear 0s infinite normal none running infinite-slide-02;
}
.marquee-track-backword:hover{
  animation-play-state:paused;
}
@keyframes infinite-slide-02 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1836px, 0, 0);
  }
}
.marquee-track-forward{
  display:flex;
  flex-flow: row;
  align-items:center;
  animation:55s linear 0s infinite reverse none running infinite-slide-03;
}
.marquee-track-forward:hover{
  animation-play-state:paused;
}
@keyframes infinite-slide-03{
  0%{
    transform:translate3d(0,0,0);
  }
  100%{
    transform:translate3d(-1356px, 0, 0);
  }
}
.testimonials {
  background-color: #27252c70;
  padding-top: 8rem;
  padding-bottom: 8rem;
  border-radius: 6rem;
  overflow: hidden;
}
.testimonials-card {
  width: 27.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: none;
  gap: 1.5rem;
  margin-right: 1.5rem;
  background-color: #27242bcf;
  padding: 2rem;
  border-radius: 1.5rem;
  position: relative;
  transition:transform .5s;
}
.testimonials-card:hover{
  transform:scale(1.05);
  background-color: #2a292fcf;
}

.block-quote {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
}
.marquee-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marquee-sticker {
  position: absolute;
  top: -4rem;
  right: -1rem;
}
.client-detail {
  display: flex;
  align-items: center;
}
.client-img {
  margin-right: 8px;
}
.avatar-img {
  width: 56px;
}
.avatar-name {
  color: #fff;
  font-weight: 550;
}
.marquee-right {
  height: 32px;
  width: 32px;
  opacity: 0.4;
  transition: opacity 0.2s ease;
  overflow: hidden;
}
.marquee-right:hover{
  opacity:1;
}
.grid-card-body._06{
  padding:4rem;
}
.grid-card-img._06{
  width:1500px;
}
.card-img._06{
  max-width:100vw;
  max-height:540px;
} 
.komiser-card-06{
  margin-bottom:24px;
}

.grid-card._07{
  background-image:url("https://assets-global.website-files.com/65167b57095188b34c3dac91/651bec708244c77a2a2f09bc_video-card.webp");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: 50%;
  background-attachment:scroll;
}
.link-play{
  margin-top:-2.5rem;
  margin-left:-2.5rem;
  position:absolute;
  top:50%;
  left:50%;
  transition:all .3s;
}
.link-play:hover{
  transform:scale(1.2);
}
.icon-play{
  height:4.5rem;
  width:4.5rem;
  background-color:#ffffff33;
  border-radius:100%;
  backdrop-filter:blur(10px);
}
.grid-card-img._08{
  display:flex;
  align-items:center;
}
.card-img._08{
  max-height:15rem;
}

.footer{
  background-color:#27252c70;
  padding-top:6rem;
  padding-bottom:4rem;
}
.footer-logo{
  transition:transform .4s ease-in;
  display:inline-block;
  max-width:100%;
}
.footer-logo:hover{
  transform:scale(1.1);
}
.footer-logo-image{
  width:9.5rem;
}
.footer-inner-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.footer-grid{
  display:grid;
  gap:4rem;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-columns:1fr;
  grid-template-rows:auto;
  /* align-items: flex-start; */

}
.link-blocks{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}
.link-blocks-heading{
  font-size:16px;
  font-weight:500;
  margin-bottom:1rem;
}
.footer-link{
  opacity:0.5;
  transition: opacity .3s ease;
  margin-bottom:8px;
}
.footer-link:hover{
  opacity:1;
}
.footer-icons{
  display:flex;
  gap:8px;
  align-items:center;
}
.footer-bottom{
  margin-top:4rem;
  border-top:1px solid rgba(62, 61, 61, 0.55);
  padding-top:3rem;
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-size:14px;
}
.footer-bottom-right{
  display:flex;
  gap:1.5rem;
}
.align-center {
  text-align: center;
  align-items: center;
}
/* .hidden {
  display: none;
} */
.set-opacity:hover {
  color:#fff;
  transition: all 0.3s ease;
}

/* @media screen and (max-width:911px){ */
@media screen and (max-width:1115px){
  h1{
    font-size:3.5rem;
  }
  h2{
    font-size:2.5rem;
  }
.hidden{
    display:none;
  }
  .drop-down-content, .nav-link{
    padding:0px;
    color:#ffffff99;
  }
  .navbar-main-content{
    padding:20px;
  }
  .nav-right-icon{
    width:2rem;
    height:2rem;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:6px;
  }
  .nav-link{
    width:100%;
  }
  .nav-link:hover{
    color:#FFF;
  }
  .box, .navbar-large-btn, .nav-link{
    background-color: #000;
    border-radius:0px;
    border-bottom:1px solid #ababab43;
    padding:1rem 0px;
  }
  .nav-link.blog{
    border-bottom:none;
  }
  .navbar-large-btn:hover{
    border-bottom-color:transparent;
    padding-bottom:0px;
  }
  .non-active:hover,.box.box-res:hover{
    background-color: #000;
  }
  .right{
    flex:1;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
  }
  .heading, .text-all{
    display:inline-block;
  }
  .icon-line{
    background-color: #fff;
    width:1.25rem;
    height:2px;
    transition:all 0.3s ease;
  }
  .button.request-btn{
    padding:1.1rem 2rem;
  }
  .content-alignment{
    flex-direction: column;
  }
  .section-spacing{
    padding-top:6rem;
    padding-bottom:6rem;
  }
  .section-spacing.section-hero{
    padding-top:6rem;
  }
  .hero-content{
    margin-bottom:6rem;
  }
  .section-spacing.spacing-y-xsmall{
    padding-top:1rem;
    padding-bottom:1rem;
  }
  .padding-top-128{
    padding-top:6rem;
  }
  .grid-intro{
    grid-template-columns: 1fr;
    /* justify-items:center; */
    justify-items:start;
  }
  .apps-img.reverse{
    order:-9999;
  }
  .grid-cols-2{
    grid-template-columns:1fr;
  }
  .grid-card-body{
    padding:0px 48px 48px 48px;
  }
  .grid-card{
    min-height:32rem;
  }
  .grid-card.is-horizontal{
    flex-flow:column;
  }
  .grid-cols-4{
    grid-template-columns:1fr 1fr;
  }
  .section-title{
    margin-bottom:6rem;
  }
  .grid-card-body._03{
    max-width:none;
    padding-top:0;
  }
  .grid-card-img._03{
    max-width:25rem;
    order:-1;
    margin-bottom:-6rem;
  }
  .grid-card-img._06{
    width:100%;
    max-width:none;
    align-self:flex-start;
    margin-bottom:-20rem;
    padding-left:3rem;
  }
  .footer-grid{
    grid-template-columns:1fr 1fr;
    max-width:100%;
    gap:3rem;
  }
  .footer-inner-content{
    width:100%;
    display:inline-block;
  }
  .footer-bottom{
    padding-top:2rem;
  }
  .footer{
    padding-top:4rem;
    padding-bottom:3rem;
  }
}
@media screen and (max-width:767px){
  h1{
    font-size:2.5rem;
  }
  h2{
    font-size:1.5rem;
  }
  .page-padding{
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  .section.section-hero{
    min-height:auto;
    background-size: auto 75rem;
  }
  .hero-content{
    margin-bottom:6rem;
  }
  .badge{
    font-size:14px;
  }
  .grid-card-body._03{
    padding: 0px 2rem 2rem 2rem;
  }
  .grid-card-body{
    padding: 0px 2rem 2rem 2rem;
    position:relative;
  }
  .grid-cols-4{
    grid-template-columns: 1fr;
    justify-items: center;
    gap:4rem;
    overflow:hidden;
    height:53rem;
  }
  .grid-info{
    justify-content:center;
    align-items:center;
    max-width:20rem;
    text-align:center;
    position:relative;
    z-index:-10;
  }
  .testimonials{
    border-radius:0;
    padding:6rem 1.5rem;
    margin-left:-1.5rem;
    margin-right:-1.5rem;
  }
  .infinite-slide-wrap,.marquee-brand-gradient{
    display:none;
  }
  .logos-mobile-view{
    display:grid;
    justify-content: space-around;
    gap:1rem;
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto auto;
    grid-auto-columns:1fr;
  }
  .testimonials-card{
    width:100%;
    margin-bottom:2rem;
  }
  .testimonials-card:hover{
    transform: none;
  }
  .marquee-track-inner{
    flex-direction:column;
  }
  .show-more{
    position:absolute;
    bottom:8%;
    cursor:pointer;
  }
  .show-more-btn{
    color: #fff;
    font-size:14px;
    padding:5px 9px; 
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%); 
    border-radius:20px;
    box-shadow:0px 0px 10rem 80px rgba(11, 11, 11, 0.732);
    backdrop-filter:blur(10px);
  }
  .testimonials-mobile{
    position:relative;
    height:29.8rem;
    overflow:hidden;
  }
  .show-more.tm{
   bottom:5%;
   left:43%; 
  }
}

@media screen and (max-width:479px){
  h1{
    font-size:2rem;
  }
  h2{
    font-size:1.5rem;
  }
  h3{
    font-size:1.2rem;
  }
  .section-spacing{
    padding-top:2rem;
    padding-bottom:2rem;
  }
  .section.section-hero{
    background-size:auto 400rem;
  }
  .big-screen{
    display:none;
  }
  .mobile-screen{
    display: block;
  }
  .margin-bottom-16{
    margin-bottom:0.5rem;
  }
  .section-title{
    margin-bottom:3rem;
  }
  .grid-card-img._01{
    min-height:16rem;
  }
  .card-img{
    min-height:17rem;
  }
  .grid-card-img._03{
    min-width:20rem;
  }
  .grid-card.is-horizontal{
    align-items:center;
  }
  .card-img._05{
    min-height:7.5rem;
  }
  .footer-bottom{
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
  }
}

/* now drop down */
/* .drop-down{
  height:20rem;
  background-color: #000;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding:1rem 1.5rem 1.5rem 1.5rem;
}
.navbar-main-content{
  flex-direction:column;
}
.pd{
  padding:1rem 0;
} */